* {
    font-family: 'Josefin Sans', sans-serif;
}

section {
    padding: 50px 0;
}

.main-page {
    background-color: var(--dark-color);
}       

:root {
    --main-color: #ffc827;
    --second--color: #d7ced5;
    --dark-color: #310529;
    --light-color: #350b2d;
    --open-font: 'Open Sans', sans-serif;
    --first-shadow: -3.828px -3.828px 6px 0px rgba(255, 200, 39, 0.4), 3px 5px 8px 0px rgba(255, 82, 1, 0.2);
    --hover-shadow: 11px 11px 32px rgba(255, 82, 1, 0.2), -11px -11px 32px rgba(255, 200, 39, 0.4);
    --slide-shadow: -3.828px -3.828px 6px 0px rgba(255, 200, 39, 0.4), 3px 5px 8px 0px rgba(255, 82, 1, 0.2);
}

.navbar {
    background-color: var(--dark-color);
    padding: 12px 0;
    box-shadow: 0 0 25px rgba(255, 200, 39, 0.2);
    border-bottom: 1px solid rgba(255, 200, 39, 0.3) !important;
    z-index: 999;
}

.navbar .dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
}

.nav-item a {
    color: white !important;
    text-transform: uppercase;
    font-size: 18px;
}

.dropdown-menu {
    background-color: var(--dark-color);
    border: 2px solid var(--main-color);
    opacity: 0;
    border-radius: 0;
    visibility: hidden;
    transition: all 0.25s ease;
}

.dropdown-menu li a {
    color: white !important;
    transition: all 0.2s linear;
}

.dropdown-menu li a:hover {
    background-color: var(--main-color);
    transform: translateY(-1px);
    color: black !important;
}

.navbar-toggler {
    background-color: var(--main-color);
    transition: all linear 0.2s;
}

.navbar-toggler:hover {
    box-shadow: var(--hover-shadow);
}

.home-itm h1 {
    font-size: 70px;
}

.home-itm p {
    color: var(--second--color);
    font-family: var(--open-font);
}

.home-itm h1 span {
    color: var(--main-color);
}

.grp-btn {
    background-color: var(--main-color);
    box-shadow: var(--first-shadow);
    transition: all 0.2s linear;
    padding: 13px 35px !important;
    border: none;
}

.grp-btn:hover {
    box-shadow: var(--hover-shadow);
}

.card-page {
    background-color: var(--light-color);
}

.card-desc h1 {
    font-size: 50px;
}

.card-desc p {
    font-family: var(--open-font);
    font-size: 19px;
    color: var(--second--color);
}

.more-btn {
    background-color: var(--main-color);
    box-shadow: var(--first-shadow);
    transition: all 0.2s linear;
    padding: 12px 35px !important;
    font-size: 20px;
    border: none;
}

.more-btn:hover {
    box-shadow: var(--hover-shadow);
}

.game-type {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.game-type::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../image/bg-2.jpeg");
    background-size: contain;
    background-position: center;
    z-index: -2;
}

.game-type::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-color); 
    opacity: 0.7; 
    z-index: -1;
}

.abt-desc p {
    color: var(--second--color);
    font-family: var(--open-font);
}

.game-photo {
    background-color: var(--dark-color);
    border: 1px solid var(--second--color);
    margin-bottom: 10px !important;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    height: 145px;
}

.game-photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.ball {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    background-color: transparent;
    box-shadow: var(--first-shadow);
    transition: all 0.2s linear;
    bottom: 0px;
    left: 0px;
}

.ball:hover {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transform: rotate(45deg);
    box-shadow: var(--hover-shadow);
}

.abt-game {
    position: relative;
    z-index: 8;
}

.abt-type {
    position: relative;
    box-shadow: var(--first-shadow);
    transition: all 0.2s linear;
    border-radius: 8px;
    background-image: url(../image/card-bg.png);
    background-size: cover;
    padding: 35px 40px;
}

.abt-type::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #350b2d;
    opacity: 0.7;
    z-index: 5;
    top: 0;
    left: 0;
}

.abt-type:hover {
    box-shadow: var(--hover-shadow);
    cursor: pointer;
}

.abt-game p {
    color: var(--second--color);
    font-family: var(--open-font);
}

.abt-game span {
    color: var(--main-color);
    font-family: var(--open-font);
}

.abt-game button {
    box-shadow: var(--first-shadow);
    background-color: var(--main-color);
    transition: all 0.2s linear;
    margin-top: 15px !important;
    padding: 10px 25px;
    border: 0;
}

.abt-game button:hover {
    box-shadow: var(--hover-shadow);
    cursor: pointer;
}

.play-page {
    background-color: var(--light-color);
}

.play-game h1 {
    font-size: 50px;
}

.play-game p {
    color: var(--second--color);
    font-size: 19px;
    font-family: var(--open-font);
}

.win-icon i {
    color: black;
    padding: 10px;
    font-size: 40px;
    border-radius: 50%;
    box-shadow: var(--first-shadow);
    border: 5px solid var(--dark-color);
    background-color: var(--main-color);
}

.sign-page {
    position: relative;
    width: 100%;
    padding: 90px 0;
    background-image: url(../image/bg-3.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.sign-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-color);
    opacity: 0.9;
    z-index: 2;
}


.abt-win p {
    font-size: 18px;
    color: var(--second--color);
    font-family: var(--open-font);
}

.abt-choosh h1 {
    font-size: 50px;
    color: white;
}

.abt-choosh p {
    font-size: 19px;
    color: var(--second--color);
    font-family: var(--open-font);
}

.pro-icon {
    margin: 40px 0;
}

.abt-profile h4 {
    transition: all 0.2s linear;
}

.abt-profile h4:hover {
    color: var(--main-color) !important;
}

.pro-icon i {
    color: white;
    padding: 30px;
    font-size: 40px;
    border-radius: 50%;
    transition: all 0.2s linear;
    box-shadow: var(--first-shadow);
}

.pro-icon i:hover {
    color: black;
    background-color: var(--main-color);
}

.frequently-page {
    background-color: var(--light-color);
}

.ask-question h1 {
    font-size: 50px;
}

.ask-question p {
    color: var(--second--color);
    font-family: var(--open-font);
}

.accordion-button {
    background-color: var(--dark-color);
    color: white;
    font-size: 20px;
    border-radius: 0;
}

.accordion-body p{
    color: var(--second--color);
}

.accordion-item {
    border: 1px solid var(--main-color) !important;
    box-shadow: var(--first-shadow);
    padding: 5px 0;
    border-radius: 0 !important;
    background-color: var(--dark-color);
}

.accordion-button {
    border: none !important;
    box-shadow: none !important;
}

.accordion-button:focus {
    box-shadow: none !important;
    outline: none !important;
    color: var(--main-color) !important;
}

.accordion-button:not(.collapsed) {
    box-shadow: none !important;
    outline: none !important;
    background-color: var(--dark-color) !important;
}


.accordion-header .accordion-button {
    border-radius: 0 !important;
}

/* Swiper CSS */
.slide-page {
    padding: 100px 0 !important;
    position: relative;
    z-index: 5;
    opacity: 1;
    background-color: var(--dark-color);
}

.slide-page::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../image/slide-bg.png);
    background-repeat: no-repeat;  
    background-size: contain;
    opacity: 0.6;
    z-index: -1;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

.light-bg{
    background-color: var(--light-color);
}

.slide-border{
    border: 1px solid var(--main-color);
}

.swiper-slide p {
    color: var(--second--color);
}

.swiper-slide i {
    color: var(--main-color);
    font-size: 50px;
}

.know-slide p {
    color: var(--second--color);
}

.men-text h6 {
    color: var(--main-color);
}

.slide-img img {
    width: 50%;
}

.foot-page {
    background-color: var(--dark-color);
    opacity: 1;
    position: relative;
    z-index: 1;
}

.foot-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-size: cover;
    background-position: center;
    background-image: url(../image/bg-6.jpeg);
    z-index: -1;
}


.foot-back {
    background-image: url(../image/A3-image.png);
    position: absolute;
    background-size: cover;
    background-position: center;
    width: 210px;
    height: 240px;
    bottom: 0;
    right: 0;
}

.foot-item {
    font-size: 18px;
    transition: all 0.2s linear;
}

.foot-item:hover {
    color: var(--main-color) !important;
}

.men-win {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 10px;
    padding: 8px;
    box-shadow: var(--first-shadow);
}

.swiper-slide span{
    position: absolute;
}

.men-win img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    background-color: var(--main-color);
}

.win-page {
    position: relative;
    width: 100%;
    background-color: var(--dark-color);
    background-image: url(../image/bg-4.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.win-page::before{
    position: absolute;
    background-color: var(--dark-color);
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
    opacity: 0.9;
}

.first-win button{
    padding: 10px 15px;
    box-shadow: var(--first-shadow);
    transition: all 0.2s linear;
}

.first-win button:hover{
    box-shadow: var(--hover-shadow);
}