* {
    font-family: 'Josefin Sans', sans-serif;
}

section {
    padding: 50px 0;
}

.main-page {
    background-color: var(--dark-color);
}

:root {
    --main-color: #ffc827;
    --second--color: #d7ced5;
    --dark-color: #310529;
    --light-color: #350b2d;
    --open-font: 'Open Sans', sans-serif;
    --first-shadow: -3.828px -3.828px 6px 0px rgba(255, 200, 39, 0.4), 3px 5px 8px 0px rgba(255, 82, 1, 0.2);
    --hover-shadow: 11px 11px 32px rgba(255, 82, 1, 0.2), -11px -11px 32px rgba(255, 200, 39, 0.4);
    --slide-shadow:-3.828px -3.828px 6px 0px rgba(255, 200, 39, 0.4), 3px 5px 8px 0px rgba(255, 82, 1, 0.2);
}

.navbar {
    background-color: var(--dark-color);
}

.nav-item a {
    color: white !important;
    text-transform: uppercase;
    font-size: 18px;
}

.dropdown-menu {
    background-color: var(--dark-color);
    border: 2px solid var(--main-color);
    border-radius: 0;
}

.dropdown-menu li a {
    color: white !important;
    transition: all 0.2s linear;
}

.dropdown-menu li a:hover {
    background-color: var(--main-color);
    transform: translateY(-1px);
    color: black !important;
}

.navbar-toggler {
    background-color: var(--main-color);
    transition: all linear 0.2s;
}

.navbar-toggler:hover {
    box-shadow: var(--hover-shadow);
}

.home-itm h1 {
    font-size: 70px;
}

.home-itm p {
    color: var(--second--color);
    font-family: var(--open-font);
}

.home-itm h1 span {
    color: var(--main-color);
}

.grp-btn {
    background-color: var(--main-color);
    box-shadow: var(--first-shadow);
    transition: all 0.2s linear;
    border: none;
}

.grp-btn:hover {
    box-shadow: var(--hover-shadow);
}

.card-page {
    background-color: var(--light-color);
}

.card-desc h1 {
    font-size: 50px;
}

.card-desc p {
    font-family: var(--open-font);
    font-size: 19px;
    color: var(--second--color);
}

.more-btn {
    background-color: var(--main-color);
    box-shadow: var(--first-shadow);
    transition: all 0.2s linear;
    font-size: 20px;
    border: none;
}

.more-btn:hover {
    box-shadow: var(--hover-shadow);
}

.game-type {
    background-color: var(--dark-color);
    background-size: cover;
}

.abt-desc p {
    color: var(--second--color);
    font-family: var(--open-font);
}

.game-photo img {
    padding: 10px;
}

.game-photo {
    background-color: var(--dark-color);
    border: 1px solid var(--second--color);
    margin-bottom: 10px !important;
    border-radius: 5px;
    padding: 0px 35px;
}

.ball {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    background-color: transparent;
    box-shadow: var(--first-shadow);
    transition: all 0.2s linear;
    bottom: 0px;
    left: 0px;
}

.ball:hover {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transform: rotate(45deg);
    box-shadow: var(--hover-shadow);
}

.abt-game {
    position: relative;
}

.abt-type {
    box-shadow: var(--first-shadow);
    transition: all 0.2s linear;
    border-radius: 8px;
}

.abt-type:hover {
    box-shadow: var(--hover-shadow);
    cursor: pointer;
}

.abt-game {
    position: relative;
    border-radius: 8px;
    background-image: url(../image/card-bg.png);
    background-size: cover;
    padding: 35px 40px;
}

.abt-game p {
    color: var(--second--color);
    font-family: var(--open-font);
}

.abt-game span {
    color: var(--main-color);
    font-family: var(--open-font);
}

.abt-game button {
    box-shadow: var(--first-shadow);
    background-color: var(--main-color);
    transition: all 0.2s linear;
    margin-top: 15px !important;
    padding: 10px 25px;
    border: 0;
}

.abt-game button:hover {
    box-shadow: var(--hover-shadow);
    cursor: pointer;
}

.play-page {
    background-color: var(--light-color);
}

.play-game h1 {
    font-size: 50px;
}

.play-game p {
    color: var(--second--color);
    font-size: 19px;
    font-family: var(--open-font);
}

.win-icon i {
    color: black;
    padding: 10px;
    font-size: 40px;
    border-radius: 50%;
    box-shadow: var(--first-shadow);
    border: 5px solid var(--dark-color);
    background-color: var(--main-color);
}

.sign-page {
    /* background-image: url(../image/bg-3.jpeg); */
    background-color: var(--dark-color);
    padding: 90px 0;
    width: 100%;
}

.abt-win p {
    font-size: 18px;
    color: var(--second--color);
    font-family: var(--open-font);
}

.abt-choosh h1 {
    font-size: 50px;
    color: white;
}

.abt-choosh p {
    font-size: 19px;
    color: var(--second--color);
    font-family: var(--open-font);
}

.pro-icon {
    margin: 40px 0;
}

.abt-profile h4 {
    transition: all 0.2s linear;
}

.abt-profile h4:hover {
    color: var(--main-color) !important;
}

.pro-icon i {
    color: white;
    padding: 30px;
    font-size: 40px;
    border-radius: 50%;
    transition: all 0.2s linear;
    box-shadow: var(--first-shadow);
}

.pro-icon i:hover {
    color: black;
    background-color: var(--main-color);
}

.frequently-page {
    background-color: var(--light-color);
}

.ask-question h1 {
    font-size: 50px;
}

.ask-question p {
    color: var(--second--color);
    font-family: var(--open-font);
}

.accordion-button {
    background-color: var(--dark-color);
    color: white;
    font-size: 20px;
    border-radius: 0;
}

.accordion-item {
    border: none !important;
}

.accordion-button {
    border: none !important;
    box-shadow: none !important;
}
.accordion-button:focus{
    color: var(--main-color);
    background-color: var(--dark-color);
    border-color: var(--main-color);
    box-shadow: var(--first-shadow); 
}

.accordion-button:not(.collapsed) {
    background-color: var(--dark-color);               
    box-shadow: none;
    border: none;    
}

.accordion-header .accordion-button{
    border-radius: 0 !important;
}

/* Swiper CSS */
.slide-page{
    background-color: var(--dark-color);
}
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--dark-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.swiper-slide{
    box-shadow: var(--slide-shadow);

}
.swiper-slide p{
    color: var(--second--color);
}

.swiper-slide i{
    color: var(--main-color);
    font-size: 50px;
}

.know-slide p{
    color: var(--second--color);
}

.men-text h6{
    color: var(--main-color);
}

.man-img{
    background-color: var(--dark-color);
    border-radius: 50%;
}

.man-img img{
    border-radius: 50%;
    width: fit-content;
}

.foot-page{
    background-color: var(--dark-color);
    position: relative;
}

.foot-back{
    background-image: url(../image/A3-image.png);
    position: absolute;
    background-size: cover;
    width: 300px;
    height: 300px;
    bottom: 0;
    right: 0;
}

.foot-item{
    font-size: 18px;
    transition: all 0.2s linear;
}

.foot-item:hover{
    color: var(--main-color) !important;
}